.bonus {
  width: 100%;
  min-height: 80vh;
}

.bonus::before {
  content: "";
  background-image: url("bonus.jpg");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.bonus div {
  position: relative;
}
